<a href="https://colab.research.google.com/github/Sathvika15/Python-Workshop/blob/master/Assignment6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**MODULE 2 (CHAPTER 1)**

Program to convert binary number to a decimal number

In [6]:
import math
n=input ("Enter a number number you want to convert ")
x=len(n)
count=0
for i in range(1,x+1):
  count=count+ (int(n[i-1]))*(math.pow(2,(x-i)))
print ("The decimal of the given binary number is ",count)

Enter a number number you want to convert 10101
The decimal of the given binary number is  21.0

Program to generate N number of fibonacci numbers

In [12]:
n=int(input("Enter the number of terms you want "))
a1=0
a2=1
count=0
if n==1:
  print("Your fibonacci series is ",a1)
elif n<0:
  print("INVALID")
else:
   print("The following Fibonacci series is ")
   while count<n:
     print(a1)
     last=a1+a2
     a1=a2
     a2=last
     count=count+1

Enter the number of terms you want 5
The following Fibonacci series is
0
1
1
2
3

Program to display a multiplication table

In [13]:
n=int(input("Enter the number to display the multiplication table "))
for i in range(0,11):
  print(n," x ",i," = ",(n*i))

Enter the number to display the multiplication table 8
8  x  0  =  0
8  x  1  =  8
8  x  2  =  16
8  x  3  =  24
8  x  4  =  32
8  x  5  =  40
8  x  6  =  48
8  x  7  =  56
8  x  8  =  64
8  x  9  =  72
8  x  10  =  80

a) Program to take 10 values from the user and find their avrage

In [36]:
sum=0
print("Enter your numbers ")
for n in range(1,11):
    n=float(input(' '))
    sum=sum+n
avg=sum/10    
print('Average of the given numbers is ', avg)

Enter your numbers
 1
 2
 3
 4
 5
 6
 7
 8
 9
 10
Average of the given numbers is  5.5

b) Program to print the pattern

In [38]:
for i in range(1,5):
  for j in range(1,(i+1)):
    print("*",end=' ')
  print("\r")

*
* *
* * *
* * * *

Program to find the GCD and HCF of 2 given numbers

In [48]:
a=int(input("Enter the first number "))
b=int(input("Enter the second number "))
i=1
#This part is for the GCD of the two numbers 
while (i<=a and i<=b):
  if(a%i==0 and b%i==0):
    gcd=i
  i=i+1
#This part is for the HCF of the two numbers   
if a<b:
  least=a
else:
  least=b  
for i in range(1,least+1):
  if (a%i==0 and b%i==0):
    hcf=i  
print("GCD of the given two numbers is ", gcd)
print("HCF of the given two numbers is ",hcf)

Enter the first number 36
Enter the second number 60
GCD of the given two numbers is  12
HCF of the given two numbers is  12

Program to reverse a word

In [49]:
a=str(input("Enter your word "))
x=a[::-1]
print("The reverse of the given word is ",x)

Enter your word Programming
The reverse of the given word is  gnimmargorP

In [60]:
n=[10,5,2,7,3,9,4,6]
count=0
value=0
for i in n:
  if (i%2==0):
    count=count+1
  else:
    value=value+1
print("The number of even numbers present in the series are ",count)
print("The number of odd numbers present in the series are ",value)

The number of even numbers present in the series are  4
The number of odd numbers present in the series are  4

Program to print specific numbers

a) First method

In [66]:
for x in range(0,7):
    if (x==3 or x==6):
      continue
    print(x,end=' ')
print("\n")

0 1 2 4 5

b) Second method

In [73]:
for i in range(0,7):
    if (i!=3 and i!=6):
      print(i)

0
1
2
4
5