<a href="https://colab.research.google.com/github/Sathvika15/Python-Workshop/blob/master/Assignment12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**MODULE 5 ASSIGNMENT 1**

Program to create a tuple

In [ ]:
tuple1=(1,2,3,4,5)
tuple2=tuple("Hello")
print("The respective tuple is ",tuple1,type(tuple1))
print("The respective tuple is ",tuple2,type(tuple2))

The respective tuple is  (1, 2, 3, 4, 5) <class 'tuple'>
The respective tuple is  ('H', 'e', 'l', 'l', 'o') <class 'tuple'>

Program to create tuple with different data types

In [ ]:
t1=(10,4,6.3,'Python','C++',7.9)
print("The tuple with datatypes : ",t1)

The tuple with datatypes :  (10, 4, 6.3, 'Python', 'C++', 7.9)

Program to convert tuple to a string

In [ ]:
t1=tuple("Programming")
print("The tuple looks like ",t1)
print(type(t1))
s1=str(t1)
print("After converted in a string ",s1)
print(type(s1))

The tuple looks like  ('P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g')
<class 'tuple'>
After converted in a string  ('P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g')
<class 'str'>

Python program to slice a tuple

In [ ]:
t1=('P','R','O',10,4.5,'G','R',1,2,'A','M','M','I','N','G')
print("The tuple before the slicing is ",t1)

#This is part to print 'PROGRAMMING' without other datatypes in between with the help of slicing 
t1=t1[:3]+t1[5:7]+t1[9:]
print("The tuple after slicins gives ",t1)

The tuple before the slicing is  ('P', 'R', 'O', 10, 4.5, 'G', 'R', 1, 2, 'A', 'M', 'M', 'I', 'N', 'G')
The tuple after slicins gives  ('P', 'R', 'O', 'G', 'R', 'A', 'M', 'M', 'I', 'N', 'G')

Program to find the length of a tuple

In [ ]:
t1=(1,2,5.8,3,7.2,2,9,'Python',2,6,'Java')
print("The length of the string is ",len(t1))

The length of the string is  11

or

In [ ]:
#This program is without using the len function 
t1=(1,2,5.8,3,7.2,2,9,'Python',2,6,'Java')
count=0
for i in t1:
  count=count+1
print("The length of the tuple is ",count)

The length of the tuple is  11

Program to convert tuple to a dictionary

In [ ]:
t1=((1,"Python"),(2,"Workshop"))
d1=dict(t1)
print("The tuple in the form of a dictionary gives ",d1)

The tuple in the form of a dictionary gives  {1: 'Python', 2: 'Workshop'}

Program to reverse a tuple

In [ ]:
t1=tuple("Python Workshop")
print("The original tuple is ",t1)
print("The reverse of the original tuple is ",t1[::-1])

The original tuple is  ('P', 'y', 't', 'h', 'o', 'n', ' ', 'W', 'o', 'r', 'k', 's', 'h', 'o', 'p')
The reverse of the original tuple is  ('p', 'o', 'h', 's', 'k', 'r', 'o', 'W', ' ', 'n', 'o', 'h', 't', 'y', 'P')

Program to covert a list of tuples into a dictionary

In [23]:
t1=(1,2,3,4,5)
t2=('MON','TUE','WED','THURS','FRI')
d1={x:y for (x,y) in zip(t1,t2)}
print("The respective dictionary is ")
print(d1)

The respective dictionary is
{1: 'MON', 2: 'TUE', 3: 'WED', 4: 'THURS', 5: 'FRI'}

Program to convert a list to a tuple

In [ ]:
list1=[1,3,2,7,5,'Hey','Good morning',10]
print("The list is ",list1)
t1=tuple(list1)
print("The list after converted into a tuple gives ",t1)

The list is  [1, 3, 2, 7, 5, 'Hey', 'Good morning', 10]
The list after converted into a tuple gives  (1, 3, 2, 7, 5, 'Hey', 'Good morning', 10)